<td>{{ user.id }}</td>
<td>{{ user.name }}</td>
<td>{{ user.username }}</td>
<td>{{ user.email }}</td>
<td>{{ user.address.street }}</td>
<td>{{ user.address.suite }}</td>
<td>{{ user.address.city }}</td>
<td>{{ user.address.zipcode }}</td>
<td appGeocolor>{{ user.address.geo.lat }}</td>
<td appGeocolor>{{ user.address.geo.lng }}</td>
<td>{{ user.phone }}</td>
<td>{{ user.website }}</td>
<td>{{ user.company.name }}</td>
<td>{{ user.company.catchPhrase }}</td>
<td>{{ user.company.bs }}</td>
<td><button type="button" (click)="editData()" class="btn btn-primary">Edit</button></td>
