<br>
<br>
<form class="form-horizontal" [formGroup]="loginForm" (submit)="saveUser()">
    <div class="form-group">
        <label class="control-label col-sm-2">Id: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Id" id="id" formControlName="id">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Name: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Username: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Username" id="username" formControlName="username">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Email: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Email" id="email" formControlName="email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Street: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Street" id="street" formControlName="street">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Suite: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Suite" id="suite" formControlName="suite">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">City: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="City" id="city" formControlName="city">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Zipcode: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" formControlName="zipcode">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Latitude: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Latitude" id="lat" formControlName="lat">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Longitude: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Longitude" id="lng" formControlName="lng">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Phone: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Phone" id="phone" formControlName="phone">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Website: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Website" id="website" formControlName="website">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Company Name: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Name" id="companyName" formControlName="companyName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Catch Phrase: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="catchPhrase" id="catchPhrase" formControlName="catchPhrase">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">BS: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="BS" id="bs" formControlName="bs">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="submit-btn btn btn-primary">Save</button>
        </div>
    </div>
  
</form>